.footer-section {
    display: inline-flex;
    width: 100%;
    background-color: rgb(17, 32, 53);
}

.left-part {
    display: inline-flex;
    width: 50%;
    padding: 120px 0px 120px 120px;
}

.logo-clau {
    width: 30%;
    text-align: right;
}

.logo-clau img {
    width: 80%;
}

.logo-clau-letras {
    color: white;
    width: 70%;
    margin-left: 20px;
}

.logo-clau-letras h1 {
    margin: 0px;
    font-size: 2.5rem;
}

.logo-clau-letras p {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: normal;
}

.right-part {
    display: inline-flex;
    width: 50%;
}

.decorative-lines {
    width: 20%;
    display: flex;
    gap: 4px;
    height: auto;
    align-items: center;
}

.decorative-lines span {
    width: 2px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(70, 110, 255, 0.2),
        rgba(70, 110, 255, 0.9),
        rgba(70, 110, 255, 0.2)
    );
    border-radius: 2px;
}

.information {
    width: 80%;
    margin-top: 100px;
}

.information p {
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
    color: white;
}

@media(max-width: 1026px) {

    .footer-section{
        padding-top: 15px;
    }
    .left-part {
        padding: 5px;
        padding-right: 30px;
    }

    .logo-clau {
        width: 40%;
    }

    .logo-clau-letras {
        width: 60%;
    }

    .logo-clau-letras h1 {
        font-size: 1.6rem;
    }
    .logo-clau-letras p {
        font-size: 0.8rem;
    }
    .information{
        margin-top: 0;
        padding: 10px;
    }
    .information p {
        font-size: 1.1rem;
    }
}

@media (max-width: 450px) {

    .footer-section {
        padding: 10px 0px;
    }

    .left-part {
        padding: 10px;
        width: 60%;
    }

    .logo-clau {
        width: 40%;
        text-align: center;
    }

    .logo-clau-letras {
        margin-left: 0;
        width: 60%;
    }

    .logo-clau-letras h1 {
        font-size: 1rem;
    }

    .logo-clau-letras p {
        font-size: 0.5rem;
    }

    .right-part {
        width: 40%;
    }
    .information {
        margin-top: 10px;
    }

    .information p {
        font-size: 0.4rem;
    }

}