.navbar {
  display: flex;
  align-items: center;
  background: rgb(112, 129, 247);
  padding: 0px 20px 30px 20px;
  height: 70px;
}

.menu-left {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: white;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  height: 100%;
}

.nav-links li {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid rgba(255,255,255,0.6);
}

.nav-links li.no-border {
  border-right: none;
}

.nav-links a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  white-space: nowrap;
}

.nav-links li:not(:first-child) a:hover {
  background: rgb(80, 119, 150);
}

.nav-links li:not(:first-child) a.active {
  background: rgb(80, 119, 150);
}

.nav-links li:first-child a {
  padding: 0 8px;  /* menos espacio */
}

.logo-item {
  border-right: none !important;
}

.logo-link {
  padding: 0 10px;
  background: transparent !important;
}

.logo-link img {
  width: auto;
  height: 40px;
  display: block;
}

.logo-link:hover img {
  transform: scale(1.12);
}

.logo-link.active {
  background: transparent !important;
}