<nav class="navbar">

  <div class="logo-mobile">
    <div class="log-mb-1"> 
      <img src="assets/logos/logo-clau/logo-blue.png" alt="" class="logo-animate" (click)="returnHome()" loading="lazy" >
    </div>
    
    <div class="lg-tex-1">
      <p class="reveal-text">
        <ng-container *ngFor="let char of letters; let i = index">
          <span
            [style.animationDelay]="(i * 0.05) + 's'"
            class="char"
          >
            {{ char === ' ' ? '\u00A0' : char }}
          </span>
        </ng-container>
      </p>
      <p class="reveal-text-1">
        <ng-container *ngFor="let char of letters1; let i = index">
          <span
            [style.animationDelay]="(i * 0.05) + 's'"
            class="char"
          >
            {{ char === ' ' ? '\u00A0' : char }}
          </span>
        </ng-container>
      </p>
    </div>
  </div>
  <input type="checkbox" id="menu-toggle" />

  <label for="menu-toggle" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <div class="menu-left">
    <div class="social-icons">
      <a href="https://wa.me/573169318999" target="_blank"><i class="fab fa-whatsapp social-ic"></i></a>
      <a href="https://www.linkedin.com/in/claudia-viviana-jaimes-gonzalez-a3121230b/" target="_blank"><i class="fab fa-linkedin social-ic"></i></a>
      <a href="https://www.instagram.com/claudiacx.jaimes/" target="_blank"><i class="fab fa-instagram social-ic"></i></a>
    </div>
  </div>

  <ul class="nav-links">
    <li class="logo-item"><a routerLink="/" routerLinkActive="active" class="logo-link" title="Inicio"><img src="assets/logos/logo-clau/logo-white.png" alt=""></a></li>
    <li><a routerLink="/about-me" routerLinkActive="active">PERFIL PROFESIONAL</a></li>
    <li><a routerLink="/robotic-surgery" routerLinkActive="active">PROCEDIMIENTOS / CIRUGÍA ROBÓTICA</a></li>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="redirect()">AGENDA TU CITA</a></li>
    <li class="no-border"><a routerLink="/articles" routerLinkActive="active">ARTÍCULOS</a></li>
  </ul>

  <div class="mobile-socials">
    <a href="https://wa.me/573169318999" target="_blank">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.linkedin.com/in/claudia-viviana-jaimes-gonzalez-a3121230b/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/claudiacx.jaimes/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

</nav>
