.hero-card {
    background-color: #4f708d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -35px;
    padding: 0 2rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.robotic-container {
    display: inline-flex;
    width: 100%;
    margin-top: -300px;
    z-index: 1;
    position: relative;
    gap: 120px;
}

.rb-left {
    width: 60%;
}

.first-img {
    transition: transform 0.25s ease;
}

.first-img img {
    width: 100%;
    margin-left: 80px;
    border-radius: 60px;
    z-index: 1;
}

.text-1 {
    width: 65%;
    background-color: rgb(22, 55, 88);
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 30px;
    padding: 10px 60px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 20px;
    transition: transform 0.25s ease;
}

.text-1 p {
    color: white;
}

.areas-photos {
    width: 100%;
    display: flex;
}

.areas {
    width: 70%;
    height: fit-content;
    background-color: rgb(17, 32, 53);
    padding-bottom: 110px;
    padding-right: 30px;
}

.area-title {
    text-align: start;
    margin-left: 50px;
}

.area-title h1 {
    color: white;
    font-weight: 400;
    font-style: italic;
    font-size: 2.8rem;
}

.area-sect {
    margin-left: 50px;
}

.area-sect h3{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
}

.area-sect p{
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
}

.angles-down-1 i{
    color: white;
    margin-left: 30px;
    font-size: 2.3rem;
}

.area-ademas {
    border: white solid 1px;
    margin: 0px 50px 20px 50px;
    width: 70%;
    transition: transform 0.25s ease;
}

.area-ademas p {
    color: white;
    padding: 20px;
    font-size: 1.4rem;
}

.img-section-2 {
    width: 30%;
    margin-top: 30px;
}

.img-2, .img-3 {
    width: 100%;
    margin-top: 70px;
    margin-left: 40px;
    transition: transform 0.25s ease;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.671);
}

.rb-right {
    width: 40%;
}

.title-right-sct-1 {
    text-align: end;
    padding-right: 30px;
    padding-left: 60px;
    margin-top: 50px;
}

.title-right-sct-1 h1 {
    font-size: 2.9rem;
    font-weight: 400;
    font-style: italic;
    color: rgb(19, 48, 88);
    margin-right: 20px;
}

.title-right-sct-1 strong {
    font-size: 2.9rem;
    color: white;
    font-style: normal;
}

.title-right-sct-1 i {
    color: white;
    margin-right: 400px;
    font-size: 3.5rem;
}

.benefits {
    width: 100%;
    background-color: rgb(19, 48, 88);
    z-index: 1;
    position: relative;
    z-index: 1;
    margin-top: -30px;
    padding-top: 30px;
}

.toggle-img {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.25s ease;
    position: relative;
    top: 100px;
    right: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.671);
}

.toggle-img img {
    width: 100%;
    
}


/* Section 1 */

.section-1 {
    display: inline-flex;
    width: 100%;
}

.sct-1-left {
    width: 70%;
    margin-top: -300px;
    z-index: 1;
}

.sct-1-right {
    width: 30%;
    margin-top: -300px;
    z-index: 1;
}


.what-is-angle {
    transition: transform 0.25s ease;
    z-index: 2;
    position: relative;
}

.text-2 {
    width: 100%;
    background-color: rgb(19, 48, 88);
    margin-top: -10px;
}
    
.text-2 p {
    color: white;
    padding: 30px 30px 30px 40px;
    text-align: justify;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    margin: 0px;
}

/* Section 2 */

.section-2 {
    display: inline-flex;
    width: 100%;
}


.what-is p {
    color: white;
    padding: 30px 40px 30px 40px;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    margin: 0px;
}

.bene {
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 50px;
}

.bene h1 {
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 2.8rem;
}

.bene p {
    padding: 0px 30px 20px 0px;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    margin: 0px;
}

.bene-list {
    color: white;
    font-size: 1.1rem;
    padding: 0px 20px 20px 20px;
}

.bene-list li {
    margin-bottom: 10px;
}

.bene-card {
    background-color: #507796;
    width: 90%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.bene-card-title {
    background-color: #112034;
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: transform 0.25s ease;
}

.bene-title-icon {
    color: white;
    width: 10%;
    padding: 10px 25px;
}

.bene-title-icon span {
    font-size: 35px;
}

.bene-title-title p {
    color: white;
    font-size: 1.1rem;
    margin-top: 20px;
    margin-left: 20px;
}

.bene-card-body p {
    color: white;
    font-size: 1.1rem;
    padding: 15px;
}


.bene-list {
  display: grid;
  gap: 16px;
  max-height: 300px; /* aprox 4 cards */
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.bene-list.expanded {
  max-height: 2000px; /* suficientemente grande */
}

.bene-toggle {
    margin-top: 24px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.bene-toggle .material-symbols-outlined {
  transition: transform 0.3s ease;
}

.material-symbols-outlined.expanded {
  transform: rotate(180deg);
}

.view-more {
    width: 100%;
    justify-items: center;
}

/* Section 3 */

.section-3 {
    display: inline-flex;
    width: 100%;
    background: linear-gradient(to right, #112034 50%, #173759 50%);
    justify-content: center;
    margin-top: 150px;
}

.testimonio {
    width: 90%;
    background-color: #4f708d;
    padding-bottom: 80px;
    position: relative;
    top: -100px;
    border-radius: 40px;
}

.testimonio h1 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    margin-top: 70px;
    margin-left: 50px;
}

.video-testi {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.video-testi video {
    width: 80%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.932);
}


.first-img:hover,
.what-is-angle:hover,
.text-1:hover,
.img-2:hover,
.img-3:hover,
.area-ademas:hover,
.toggle-img:hover,
.bene-card-title:hover,
.testi-1-img:hover,
.testi-2-img:hover,
.lo-que-dicen i:hover,
.donde-opero-title i:hover {
    transform: translateY(-4px) scale(1.05);
}

.section-4 {
    width: 100%;
    background: linear-gradient(to right, #112034 50%, #173759 50%);
    padding: 10px 10px 350px 10px;
}

.lo-que-dicen {
    background-color: #1D3461;
    padding: 10px 30px;
    border-radius: 20px;
    width: 55%;
    display: flex;
}

.lo-que-dicen p {
    color: white;
    font-size: 3rem;
    margin: 0;
}

.lo-que-dicen i {
    color: white;
    font-size: 4.5rem;
    position: relative;
    left: 40px;
    top: 60px;
    transition: transform 0.3s ease;
}

.testi-1 {
    margin-top: 50px;
    width: 100%;
    display: flex;

}

.testi-1-1 {
    display: grid;
    width: 50%;
}

.testi-1-img {
    width: 80%;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}

.testi-1-msg {
    width: 130%;
    position: relative;
    top: -150px;
    z-index: 0;
}

.testi-2-1 {
    display: grid;
    width: 50%;
    position: relative;
    top: 430px;
    right: 250px;
}

.testi-2-img {
    width: 75%;
    position: relative;
    z-index: 1;
    left: 400px;
    transition: transform 0.3s ease;
}

.testi-2-msg {
    width: 140%;
    position: relative;
    top: -120px;
    z-index: 0;
    right: 90px;
}


.section-5 {
    background-color: #507796;
    padding: 10px 10px 80px 10px;
}

.donde-opero-title {
    background-color: #1D3461;
    padding: 10px 30px;
    border-radius: 20px;
    width: 55%;
    display: flex;
    position: relative;
    top: -50px;
}

.donde-opero-title p {
    color: white;
    font-size: 3rem;
    margin: 0;
}

.donde-opero-title i {
    color: white;
    font-size: 4.5rem;
    position: relative;
    left: 40px;
    top: 40px;
    transition: transform 0.3s ease;
}

.opero-maps {
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: center;
}

.opero-item {
    width: 30%;
    background-color: #112034;
    border-radius: 30px;
    margin-top: 100px;
    padding: 20px 20px 80px 20px;
    height: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.747);
}

.opero-item p {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.section-1-mobile, .section-2-mobile, .section-3-mobile, .section-4-mobile {
    display: none;
}

@media (min-width: 1640px) {

    .img-section-2 {
        margin-bottom: 40px;
    }

    .areas {
        height: auto;
    }

    .testi-2-1 {
        top: 550px;
    }

    .testi-2-img {
        left: 500px;
        top: 30px;
    }

    .testi-2-msg {
        right: 170px;
    }

    .section-4 {
        padding-bottom: 450px;
    }

}

@media(max-width: 1280px) {
    .robotic-container {
        margin-top: -250px;
    }
    .benefits {
        margin-top: -60px;
    }
}

@media (max-width: 1026px) {
    .hero-card {
        min-height: 40vh;
    }

    .first-img img {
        width: 130%;
        margin-left: 20px;
        border-radius: 60px;
        z-index: 1;
        position: relative;
        top: -100px;
    }

    .title-right-sct-1 {
        text-align: end;
        padding-right: 90px;
        margin-top: 50px;
        padding-left: 0px;
    }

    .title-right-sct-1 h1 {
        font-size: 1.6rem;
        margin-right: -70px;
    }
    
    .title-right-sct-1 strong {
        font-size: 1.5rem;
    }

    .rb-right {
        margin-top: -100px;
    }

    .benefits {
        width: 80%;
        margin-left: 50px;
    }

    .what-is p {
        padding: 30px;
        font-size: 1rem;
    }

    .text-1 {
        width: 75%;
        margin-top: -50px;
        margin-left: 120px;
        margin-bottom: 30px;
        padding: 10px 20px;
        text-align: center;
        font-size: 1rem;
        border-radius: 20px;
    }

    .bene{
        margin-top: 40px;
        margin-left: 20px;
        padding-bottom: 50px
    }

    .bene h1 {
        font-size: 2.5rem;
        padding-right: 20px;
    }

    .bene p {
        padding: 10px 10px 10px 0px;
        font-size: 0.9rem;
    }

    .bene-list {
        padding: 0;
        max-height: 670px;
    }

    .bene-title-icon {
        padding: 10px;
    }

    .bene-title-icon span {
        font-size: 20px;
    }

    .bene-title-title{
        text-align: center;
    }
    .bene-title-title p {
        padding: 10px 15px;
        font-size: 0.9rem;
        margin: 0;
    }

    .toggle-img {
        width: 130%;
        top: 20px;
        right: 140px;
    }

    .area-ademas p {
        font-size: 1.1rem;
        animation: pulse 1.6s ease-in-out infinite;
    }

    .areas {
        width: 75%;
    }

    .area-title {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .area-title h1 {
        font-size: 2rem;
    }

    .area-sect h3 {
        font-size: 1.2rem;
    }

    .area-sect p {
        font-size: 1rem;
    }

    .areas-photos {
        width: 110%;
        gap: 10px;
    }

    .img-2 {
        width: 190%;
        position: relative;
        z-index: 2;
        margin-left: 5px;
        top: 150px;
    }

    .img-3 {
        width: 190%;
        position: relative;
        z-index: 2;
        margin-left: 5px;
        top: 450px;
    }

    .lo-que-dicen {
        width: 75%;
        padding: 10px;
    }

    .lo-que-dicen p {
        font-size: 2.2rem;
    }

    .lo-que-dicen i {
        font-size: 4rem;
        left: 20px;
        top: 40px;
    }

    .testi-1-1{
        position: relative;
        right: 70px;
    }
    .testi-1-img {
        width: 110%;
        animation: pulse 1.6s ease-in-out infinite;
    }

    .testi-1-msg {
        width: 220%;
        position: relative;
        top: -130px;
        z-index: 0;
        right: 40px;
    }

    .testi-2-img {
        width: 105%;
        position: relative;
        z-index: 1;
        left: 330px;
        animation: pulse 1.6s ease-in-out infinite;
        top: 70px;
    }

    .testi-2-msg {
        width: 230%;
        position: relative;
        top: -30px;
        z-index: 0;
        right: 90px;
    }

    .section-4 {
        padding-bottom: 500px;
    }

    .donde-opero-title {
        width: 75%;
    }

    .donde-opero-title p {
        font-size: 2.2rem;
    }

    .donde-opero-title i {
        font-size: 4rem;
    }

    .opero-maps{
        gap: 30px;
    }

    .opero-item {
        margin-top: 30px;
        height: 400px;
    }

    .opero-item p {
        font-size: 1.5rem;
    }

    .title-right-sct-1 i {
        margin-right: 90px;
        top: -30px;
        animation: bounce 1.5s infinite;
    }

    .view-more, .anim-angl {
        animation: bounce 1.5s infinite;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }

}

@media (max-width: 450px) {

    .robotic-container, .section-3, .section-4, .section-5 {
        display: none;
    }

    .hero-card {
        min-height: 200px;
        padding: 2rem 1rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: -25px;
        z-index: 0;
    }

    .section-1-mobile {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
    }

    .sct-1-left {
        width: 60%;
        margin-top: -200px;
    }

    .first-img {
        margin-top: 0px;
    }

    .first-img img {
        width: 100%;
        margin-left: 10px;
        border-radius: 30px;
        margin-top: 60px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.747);
        z-index: 2;
        position: relative;
        top: 20px;
    }

    .sct-1-right {
        width: 40%;
        z-index: 0;
        margin-top: -200px;
    }

    .text-1 {
        width: 75%;
        background-color: #173759;
        border: #7080F7 2px solid;
        margin-top: 80px;
        margin-left: 50px;
        margin-bottom: 30px;
        padding: 10px;
        text-align: center;
        font-size: 0.6rem;
        border-radius: 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.747);
    }

    .img-section-2 {
        width: 90%;
        margin-top: 0;
    }

    .img-2{
        width: 90%;
        margin-top: 40px;
        margin-left: 25px;
        position: unset;
    }

    .img-3 {
        width: 90%;
        margin-top: 40px;
        margin-left: 105px;
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        position: unset;

        transition:
            opacity 0.3s ease,       /* ⬅ delay aquí */
            transform 0.3s ease;
    }

    .img-3.visible {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition-delay: 0.01s;
    }

    .title-right-sct-1 {
        text-align: end;
        margin-top: 130px;
        width: 90%;
        margin-left: 10px;
        padding: 0;
        padding-right: 10px;
    }

    .title-right-sct-1 p {
        margin: 0;
        font-size: 0.9rem;
        font-weight: 400;
        font-style: italic;
        color: rgb(19, 48, 88);
    }

    .title-right-sct-1 strong {
        font-size: 0.9rem;
    }

    .title-right-sct-1 i {
        font-size: 2rem;
        margin-right: 80px;
        margin-top: -10px;
        top: 0;
    }

    .bene-mobile {
        width: 100%;
        background-color: #1D3461;
        padding: 5px;
        z-index: 0;
        position: relative;
        margin-top: -20px;
    }

    .bene-mobile h1 {
        color: white;
        font-weight: 700;
        font-style: italic;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: 20px;
    }

    .bene-mobile p {
        padding: 0px;
        color: white;
        font-size: 0.7rem;
        font-weight: 500;
        font-style: italic;
        margin: 0px;
        margin-left: 20px;
    }

    .bene-list {
        padding: 0;
        margin-top: 30px;
        max-height: 230px;
    }

    .bene-card-title {
        width: 95%;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 0;
    }

    .what-is-angle, .view-more, .angl-anim {
        animation: bounce 1.5s infinite;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }

    .bene-title-icon {
        padding: 5px;
    }

    .bene-title-icon span {
        font-size: 20px;
    }

    .bene-title-title p {
        padding: 5px;
        font-size: 0.7rem;
    }
    .bene-toggle {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .section-2-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .areas{
        width: 80%;
        padding-bottom: 100px;
    }

    .area-title {
        margin-top: 20px;
        margin-left: 20px;
    }

    .area-title h1 {
        font-size: 1.9rem;
    }

    .area-sect {
        margin-top: 20px;
    }

    .area-sect h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    
    .area-sect p {
        font-size: 0.8rem;
    }

    .area-ademas p {
        font-size: 1rem;
        animation: pulse 1.6s ease-in-out infinite;
    }

    .testimonio {
        width: 95%;
        padding-bottom: 40px;
    }

    .testimonio h1 {
        font-size: 1.5rem;
        margin-top: 20px;
        margin-left: 30px;
    }

    .video-testi {
        margin-top: 30px;
    }

    .video-testi video {
        width: 90%;
    }

    .section-3-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #112034;
        padding: 5px;
        margin-top: -250px;
        padding-top: 140px;
        max-height: 1100px;
    }

    .lo-que-dicen{
        width: 80%;
        padding: 10px;
    }

    .lo-que-dicen p {
        font-size: 1rem;
        margin: 0;
    }

    .lo-que-dicen i {
        top: 30px;
        font-size: 2rem;
    }

    .testi-1-1 {
        width: 100%;
        position: unset;
    }

    .testi-1-1-a {
        width: 100%;
        display: grid;
        position: relative;
        top: -60px;
    }

    .testi-1-img {
        width: 80%;
        position: relative;
        right: 60px;
        animation: pulse 1.6s ease-in-out infinite;
        
    }

    .testi-1-msg {
        top: -90px;
        right: 70px;
        width: 130%;
    }

    .testi-2-img {
        left: -50px;
        animation: pulse 1.6s ease-in-out infinite;
        width: 75%;

        top: 0;
    }

    .testi-2-msg {
        top: -70px;
        right: 60px;
        width: 140%;
    }

    .section-4-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 25px 5px;
        background-color: #507796;
    }

    .donde-opero-title {
        width: 85%;
        top: -20px;
    }

    .donde-opero-title p {
        font-size: 1.1rem;
    }

    .donde-opero-title i {
        font-size: 2rem;
        top: 20px;
    }

    .opero-maps {
        display: flex;
        width: 100%;
        gap: 20px;
    }

    .opero-item {
        margin-top: 0;
        width: 45%;
        height: 300px;
    }
    .opero-item p {
        font-size: 1rem;
        padding-bottom: 10px;
    }


}