.hero-card {
    background-color: #4f708d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -35px;
    padding: 0 2rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.robotic-container {
    display: inline-flex;
    width: 100%;
    margin-top: -300px;
    z-index: 1;
    position: relative;
    gap: 120px;
}

.rb-left {
    width: 60%;
}

.first-img {
    transition: transform 0.25s ease;
}

.first-img img {
    width: 100%;
    margin-left: 80px;
    border-radius: 60px;
    z-index: 1;
}

.text-1 {
    width: 65%;
    background-color: rgb(22, 55, 88);
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 30px;
    padding: 10px 60px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 20px;
    transition: transform 0.25s ease;
}

.text-1 p {
    color: white;
}

.areas-photos {
    width: 100%;
    display: flex;
}

.areas {
    width: 70%;
    height: fit-content;
    background-color: rgb(17, 32, 53);
    padding-bottom: 110px;
    padding-right: 30px;
}

.area-title {
    text-align: start;
    margin-left: 50px;
}

.area-title h1 {
    color: white;
    font-weight: 400;
    font-style: italic;
    font-size: 2.8rem;
}

.area-sect {
    margin-left: 50px;
}

.area-sect h3{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
}

.area-sect p{
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
}

.angles-down-1 i{
    color: white;
    margin-left: 30px;
    font-size: 2.3rem;
}

.area-ademas {
    border: white solid 1px;
    margin: 0px 50px 20px 50px;
    width: 70%;
    transition: transform 0.25s ease;
}

.area-ademas p {
    color: white;
    padding: 20px;
    font-size: 1.4rem;
}

.img-section-2 {
    width: 30%;
    margin-top: 30px;
}

.img-2, .img-3 {
    width: 100%;
    margin-top: 70px;
    margin-left: 40px;
    transition: transform 0.25s ease;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.671);
}

.rb-right {
    width: 40%;
}

.title-right-sct-1 {
    text-align: end;
    padding-right: 30px;
    padding-left: 60px;
    margin-top: 50px;
}

.title-right-sct-1 h1 {
    font-size: 2.9rem;
    font-weight: 400;
    font-style: italic;
    color: rgb(19, 48, 88);
    margin-right: 20px;
}

.title-right-sct-1 strong {
    font-size: 2.9rem;
    color: white;
    font-style: normal;
}

.title-right-sct-1 i {
    color: white;
    margin-right: 400px;
    font-size: 3.5rem;
}

.benefits {
    width: 100%;
    background-color: rgb(19, 48, 88);
    z-index: 1;
    position: relative;
    z-index: 1;
    margin-top: -30px;
    padding-top: 30px;
}

.toggle-img {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.25s ease;
    position: relative;
    top: 100px;
    right: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.671);
}

.toggle-img img {
    width: 100%;
    
}


/* Section 1 */

.section-1 {
    display: inline-flex;
    width: 100%;
}

.sct-1-left {
    width: 70%;
    margin-top: -300px;
    z-index: 1;
}

.sct-1-right {
    width: 30%;
    margin-top: -300px;
    z-index: 1;
}


.what-is-angle {
    transition: transform 0.25s ease;
    z-index: 2;
    position: relative;
}

.text-2 {
    width: 100%;
    background-color: rgb(19, 48, 88);
    margin-top: -10px;
}
    
.text-2 p {
    color: white;
    padding: 30px 30px 30px 40px;
    text-align: justify;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    margin: 0px;
}

/* Section 2 */

.section-2 {
    display: inline-flex;
    width: 100%;
}


.what-is p {
    color: white;
    padding: 30px 40px 30px 40px;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    margin: 0px;
}

.bene {
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 50px;
}

.bene h1 {
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 2.8rem;
}

.bene p {
    padding: 0px 30px 20px 0px;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    margin: 0px;
}

.bene-list {
    color: white;
    font-size: 1.1rem;
    padding: 0px 20px 20px 20px;
}

.bene-list li {
    margin-bottom: 10px;
}

.bene-card {
    background-color: #507796;
    width: 90%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.bene-card-title {
    background-color: #112034;
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: transform 0.25s ease;
}

.bene-title-icon {
    color: white;
    width: 10%;
    padding: 10px 25px;
}

.bene-title-icon span {
    font-size: 35px;
}

.bene-title-title p {
    color: white;
    font-size: 1.1rem;
    margin-top: 20px;
}

.bene-card-body p {
    color: white;
    font-size: 1.1rem;
    padding: 15px;
}


.bene-list {
  display: grid;
  gap: 16px;
  max-height: 350px; /* aprox 4 cards */
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.bene-list.expanded {
  max-height: 2000px; /* suficientemente grande */
}

.bene-toggle {
    margin-top: 24px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.bene-toggle .material-symbols-outlined {
  transition: transform 0.3s ease;
}

.material-symbols-outlined.expanded {
  transform: rotate(180deg);
}

.view-more {
    width: 100%;
    justify-items: center;
}

/* Section 3 */

.section-3 {
    display: inline-flex;
    width: 100%;
}

.testimonio {
    width: 100%;
    background-color: #4f708d;
    padding-bottom: 80px;
}

.testimonio h1 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    margin-top: 70px;
    margin-left: 50px;
}

.video-testi {
    width: 100%;
}

.video-testi video {
    width: 80%;
    padding-left: 100px;
}


.first-img:hover,
.what-is-angle:hover,
.text-1:hover,
.img-2:hover,
.img-3:hover,
.area-ademas:hover,
.toggle-img:hover,
.bene-card-title:hover {
    transform: translateY(-4px) scale(1.05);
}

@media (min-width: 1640px) {

    .img-section-2 {
        margin-bottom: 40px;
    }

    .areas {
        height: auto;
    }

}

@media(max-width: 1280px) {
    .robotic-container {
        margin-top: -250px;
    }
    .benefits {
        margin-top: -60px;
    }
}