.gallery-section {
  position: relative;
  top: -330px;
  z-index: 1;
  background: rgb(17, 32, 53);
  border-radius: 30px;
  margin-left: 100px;
  width: 80%;
}

.associations-section{
  position: relative;
  display: flex;
}

.background-img {
  position: relative;
  left: -250px;
  top: -300px;
  opacity: 0.7;
  z-index: -3;
}

.asociations-icons{
  background-color: rgb(80, 119, 150);
  width: 25%;
  margin-left: 100px;
  height: auto;
  display: grid;
  position: relative;
  top: -300px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.acc-img{
  margin-top: 4rem;
  justify-self: center;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.camec-img{
  justify-self: center;
  cursor: pointer;
  width: 50%;
  height: 80%;
  transition: transform 0.25s ease;
}

.trogss-img{
  justify-self: center;
  cursor: pointer;
  width: 80%;
  height: 80%;
  transition: transform 0.25s ease;
}

.srs-img{
  width: 50%;
  height: 70%;
  cursor: pointer;
  justify-self: center;
  margin-top: 2rem;
  transition: transform 0.25s ease;
}

.cmc-img {
  width: 95%;
  height: 60%;
  margin: 2rem 0 0 0;
  cursor: pointer;
  justify-self: center;
  transition: transform 0.25s ease;
}

.spt-img {
  width: 70%;
  height: 60%;
  margin: 2rem 0 0 0;
  cursor: pointer;
  justify-self: center;
  transition: transform 0.25s ease;
}

.spt-img:hover,
.cmc-img:hover,
.srs-img:hover,
.trogss-img:hover,
.camec-img:hover,
.acc-img:hover {
  transform: translateY(-4px) scale(1.05);
}

.procedimiento-info{
  background-color: rgb(80, 119, 150);
  color: white;
  position: relative;
  top: -550px;
  left: 200px;
  width: 50%;
  height: 550px;
  font-size: 1.5rem;
  border-radius: 20px;
}

.procedimiento-info h1{
  text-align: end;
  margin-left: 150px;
  margin-right: 50px;
  font-weight: 700;
  font-style: italic;
}

.procedimiento-info p{
  text-align: justify;
  padding: 10px 30px;
  font-weight: 200;
  font-style: italic;
  font-size: large;
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.233);
  z-index: -1;
}

.overlay-bg-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 1050px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

.gallery-title {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  align-items: center;
  padding: 30px 70px 0px 70px;
  display: inline-flex;
  transition: transform 0.25s ease;
}

.arrow-gallery-anim {
  margin-left: 30px;
  font-size: 60px;
  margin-top: 10px;
 
}

.gallery-title:hover {
  transform: translateY(-4px) scale(1.05);
}

.gallery-content {
  height: 600px;
}

.carousel-wrapper {
  display: inline-flex;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  flex: 0 0 auto;
  width: 230px;
  height: 470px;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 30px;
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.info-box {
  background: rgb(17, 32, 53);
  padding: 20px;
  margin-left: 50px;
  border-radius: 10px;
  font-size: 0.95rem;
  line-height: 1.5;
  position: relative;
  left: -200px;
  color: white;
  justify-items: center;
  height: 230px;
  width: 320px;
}

.info-box h2 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 700;
  font-style: italic;
  width: 180px;
  text-align: justify;
}

.poopover-gallery{
  background-color: rgb(22, 55, 86);
  margin-left: 800px;
  width: 40%;
  border-radius: 60px;
  position: relative;
  top: -400px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  transition: transform 0.25s ease;
}

.poopover-gallery h1{
  text-align: center;
  font-weight: 600;
  font-style: italic;
  color: white;
}

.poopover-gallery:hover {
  transform: translateY(-4px) scale(1.05);
}

.back-1 {
  background-color: rgb(80, 119, 150);
  width: 100%;
  height: 200px;
  position: relative;
  top: -200px;
}