.hero-card {
    background-color: #4f708d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -35px;
    padding: 0 2rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.inf-section {
    display: inline-flex;
}

.abt-me-1 {
    background-color: rgb(17, 32, 53);
    position: relative;
    top: -180px;
    border-radius: 40px;
    margin-left: 100px;
    padding: 40px 20px;
    width: 70%;
    height: fit-content;
}

.abt-me-1 p{
    color: white;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
}

.abt-me-img-1 {
    margin-left: 50px;
    width: 50%;
}

.abt-me-img-1 img {
    width: 100%;
    position: relative;
    top: -300px;
}

.perfil-prof {
    width: 50%;
    height: 50%;
    display: grid;
}

.perfil-prof-info{
    position: relative;
    top: -200px;
    margin-left: 350px;
}

.perfil-prof-info label {
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
}

.abt-me-arrw-1 {
    position: relative;
    top: -110px;
    font-size: xxx-large;
    margin-left: 100px;
    z-index: 1;
    color: white;
}

.inf-section-2 {
    background-color: #4f708d;
    width: 100%;
    height: 100px;
}