.hero-card {
    background-color: #4f708d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -35px;
    padding: 0 2rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.inf-section {
    display: inline-flex;
    margin-top: -300px;
}

.abt-me-1 {
    background-color: rgb(17, 32, 53);
    position: relative;
    border-radius: 40px;
    margin-left: 150px;
    padding: 40px 20px;
    width: 70%;
    height: fit-content;
    margin-top: -20px;
    transition: transform 0.25s ease;
}

.title-1 {
    display: inline-flex;
    margin-bottom: 30px;
}

.abt-me-1 p{
    color: white;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
}

.abt-me-img-1 {
    margin-left: 50px;
    width: 40%;
    transition: transform 0.25s ease;
}

.abt-me-img-1 img {
    width: 100%;
    position: relative;
}

.perfil-prof {
    width: 60%;
    height: 50%;
    display: grid;
    margin-top: 70px;
}

.perfil-prof-info{
    position: relative;
    margin-left: 250px;
    margin-top: 20px;
}

.perfil-prof-info label {
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
}

.abt-me-arrw-1 {
    position: relative;
    font-size: xxx-large;
    margin-left: 170px;
    z-index: 1;
    color: white;
    margin-top: 50px;
    transition: transform 0.25s ease;
}

.atr-btn:hover,
.insta-badge:hover,
.imagen-frame:hover,
.abt-me-1:hover,
.abt-me-img-1:hover,
.abt-me-arrw-1:hover {
    transform: translateY(-4px) scale(1.05);
}

.inf-section-2 {
    background-color: #4f708d;
    width: 100%;
    min-height: 1000px;
    margin-top: -1000px;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.inf-section-img {
    display: flex;
    width: 100%;
    padding-bottom: 60px;
    background-color: #4f708d;
    margin-top: -50px;
}

.inf-section-2-content {
    display: flex;
    margin-top: 120px;
}

.imagen-frame {
    position: relative;
    width: 420px;
    max-width: 100%;
    transition: transform 0.25s ease;
    margin-top: 80px;
}

.imagen-frame::before {
    content: "";
    position: absolute;
    inset: 0px -25px -25px 0px;
    background-color: #1D3461;
    border-radius: 20px;
    z-index: 1;
}

.imagen-frame img {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    z-index: 2;
}

.atr-btn {
    margin-left: 80px;
    margin-top: 50px;
    transition: transform 0.25s ease;
}
.articles-btn {
    border-radius: 40px;
    padding: 25px 10px 25px 80px;
    background-color: rgb(29,52,96);
    color: white;
    font-weight: 400;
    font-style: italic;
    cursor: pointer;
    font-size: xx-large;
}

.title-2 {
    margin-left: 150px;
    padding-top: 50px;
    width: 30%;
}

.title-2 h1 {
    width: 320px;
    text-align: end;
    font-size: xxx-large;
    color: rgb(29,52,96);
    font-weight: 400;
    font-style: italic;
}

.title-2 strong {
    color: white;
}

.clau-articles {
    margin-left: 300px;
    position: relative;
    top: -250px;
    width: 70%;
}

.video-1 {
    display: inline-flex;
    margin-left: 20px;
}

.video-1 video {
    width: 400px;
    height: 650px;
}

.insta-badge {
    display: inline-flex;
    align-items: center;
    border-radius: 40px;
    padding-right: 20px;
    text-decoration: none;
    margin-top: 350px;
    margin-left: -40px;
    z-index: 1;
    transition: transform 0.25s ease;
}

.insta-icon {
    width: 80px;
    height: 80px;
    background-color: rgb(17, 32, 53);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insta-icon i {
    color: white;
    font-size: xxx-large;
}
  
.insta-user {
    color: white;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    white-space: nowrap;
    background-color: rgb(17, 32, 53);
    padding: 10px;
    border-radius: 10px;
    margin-left: -15px;
}

.footer-section {
    display: inline-flex;
    width: 100%;
    background-color: rgb(17, 32, 53);
}

.left-part {
    display: inline-flex;
    width: 50%;
    padding: 120px 0px 120px 120px;
}

.logo-clau {
    width: 30%;
    text-align: right;
}

.logo-clau img {
    width: 80%;
}

.logo-clau-letras {
    color: white;
    width: 70%;
    margin-left: 20px;
}

.logo-clau-letras h1 {
    margin: 0px;
    font-size: 2.5rem;
}

.logo-clau-letras p {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: normal;
}

.right-part {
    display: inline-flex;
    width: 50%;
}

.decorative-lines {
    width: 20%;
    display: flex;
    gap: 4px;
    height: auto;
    align-items: center;
}

.decorative-lines span {
    width: 2px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(70, 110, 255, 0.2),
        rgba(70, 110, 255, 0.9),
        rgba(70, 110, 255, 0.2)
    );
    border-radius: 2px;
}

.information {
    width: 80%;
    margin-top: 100px;
}

.information p {
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
    color: white;
}

.mb-abt-me-1 {
    display: none;
}


@media (min-width: 1640px) {
    .inf-section {
        margin-top: -350px;
        gap: 80px;
    }

    .abt-me-img-1 {
        width: 55%;
        margin-top: -80px;
    }

    .clau-articles {
        margin-left: 400px;
        top: -350px;
    }

    .imagen-frame {
        width: 520px;
    }

    .articles-btn {
        width: 350px;
    }

    .video-1 video{
        width: 500px;
        height: 750px;
    }
}

@media(max-width: 1280px) {

    .imagen-frame {
        width: 320px;
        margin-top: 200px;
    }

    .atr-btn {
        margin-left: 50px;
    }
}

@media (max-width: 768px) {

    .hero-card, .inf-section, .inf-section-img {
        display: none;
    }

    .mb-abt-me-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .column-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: -20px;
        background-color: #507796;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px;
        z-index: 1;
    }

    .abt-me-img-1 {
        margin-left: 0px;
        margin-top: 20px;
        width: 70%;
    }

    .abt-me-img-1 img {
        border-radius: 30px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.747);
    }

    .perfil-prof {
        margin: 0;
        align-self: end;
        margin-top: -100px;
    }

    .title-1 {
        margin-bottom: 20px;
        gap: 10px;
        width: 100%;
    }

    .abt-me-arrw-1 {
        position: relative;
        font-size: 1.5rem;
        margin-left: 0px;
        z-index: 1;
        color: white;
        margin-top: 0px;
        top: 40px;
    }

    .perfil-prof-info {
        margin-left: 90px;
        margin-top: 0px;
    }

    .perfil-prof-info label {
        font-size: 1rem;
    }

    .abt-me-1{
        border-radius: 20px;
        margin-left: 0px;
        padding: 20px;
        width: 100%;
    }

    .abt-me-1 p {
        font-size: 0.5rem;
    }

    .title-2 {
        margin-left:  0px;
        width: 100%;
    }

    .title-2 h1 {
        width: 60%;
        font-size: 2rem;
        justify-self: end;
        margin-right: 60px;
    }

    .insta-badge {
        padding-right:  0px;
        margin: 0;
        margin-top: 0px;
        position: relative;
        left: 30px;
        animation: pulse 1.6s ease-in-out infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }

    .insta-icon {
        width: 60px;
        height: 60px;
    }

    .insta-icon i {
        font-size: 1.6rem;
    }

    .insta-user {
        font-size: 0.6rem;
        margin-left: 0px;
        margin-right: -11px;
    }

    .video-1{
        margin: 0;
    }
    .video-1 video {
        width: 200px;
        height: 350px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.747);
    }

    .column-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #173759;
        padding: 10px;
        z-index: 1;
        padding-bottom: 40px;
    }

    .mb-col-2-clau {
        width: 60%;
        margin-top: 20px;
        margin-left: 40px;
    }

    .mb-col-2-clau img {
        width: 80%;
        box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.842);
    }

    .atr-btn {
        margin-top: 20px;
        margin-left: 80px;
    }

    .articles-btn {
        padding: 5px 20px 5px 20px;
        font-size: 1.2rem;
        background-color: #112034;
    }

}