.hero-card {
    background-color: #4f708d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -35px;
    padding: 0 2rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.inf-section {
    display: inline-flex;
    margin-top: -300px;
}

.abt-me-1 {
    background-color: rgb(17, 32, 53);
    position: relative;
    border-radius: 40px;
    margin-left: 150px;
    padding: 40px 20px;
    width: 70%;
    height: fit-content;
    margin-top: -20px;
}

.title-1 {
    display: inline-flex;
}

.abt-me-1 p{
    color: white;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
}

.abt-me-img-1 {
    margin-left: 50px;
    width: 40%;
}

.abt-me-img-1 img {
    width: 100%;
    position: relative;
}

.perfil-prof {
    width: 60%;
    height: 50%;
    display: grid;
    margin-top: 70px;
}

.perfil-prof-info{
    position: relative;
    margin-left: 300px;
    margin-top: 20px;
}

.perfil-prof-info label {
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
}

.abt-me-arrw-1 {
    position: relative;
    font-size: xxx-large;
    margin-left: 170px;
    z-index: 1;
    color: white;
    margin-top: 50px;
}

.inf-section-2 {
    background-color: #4f708d;
    width: 100%;
    min-height: 1000px;
    margin-top: -1000px;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.inf-section-img {
    display: flex;
    width: 100%;
    padding-bottom: 60px;
}

.inf-section-2-content {
    display: flex;
}

.imagen-frame {
    position: relative;
    width: 420px;
    max-width: 100%;
}

.imagen-frame::before {
    content: "";
    position: absolute;
    inset: 0px -25px -25px 0px;
    background-color: rgb(29,52,96);
    border-radius: 20px;
    z-index: 1;
}

.imagen-frame img {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    z-index: 2;
}

.atr-btn {
    margin-left: 150px;
    margin-top: 50px;
}
.articles-btn {
    border-radius: 40px;
    padding: 25px 10px 25px 80px;
    background-color: rgb(29,52,96);
    color: white;
    font-weight: 400;
    font-style: italic;
    cursor: pointer;
    width: 300px;
    font-size: xx-large;
}

.title-2 {
    margin-left: 150px;
    padding-top: 50px;
    width: 30%;
}

.title-2 h1 {
    width: 320px;
    text-align: end;
    font-size: xxx-large;
    color: rgb(29,52,96);
    font-weight: 400;
    font-style: italic;
}

.title-2 strong {
    color: white;
}

.clau-articles {
    margin-left: 300px;
    position: relative;
    top: -250px;
    width: 70%;
}

.video-1 {
    display: inline-flex;
    margin-left: 20px;
}

.video-1 video {
    width: 350px;
    height: 600px;
}

.insta-badge {
    display: inline-flex;
    align-items: center;
    border-radius: 40px;
    padding-right: 20px;
    text-decoration: none;
    margin-top: 350px;
    margin-left: -40px;
    z-index: 1;
}

.insta-icon {
    width: 80px;
    height: 80px;
    background-color: rgb(29, 52, 96);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insta-icon i {
    color: white;
    font-size: xxx-large;
}
  
.insta-user {
    color: white;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    white-space: nowrap;
    background-color: rgb(29, 52, 96);
    padding: 10px;
    border-radius: 10px;
    margin-left: -15px;
}