<section class="hero-card">
</section>
<section class="section-1">
    <div class="buscador-title">
        <h1>Buscador de artículos científicos<i class="fa-regular fa-newspaper"></i></h1>
    </div>
    <div class="buscador">
        <div class="search">
            <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" placeholder="Buscar..." class="search-input" (input)="_onSearch($event)">
        </div>
        <div class="result">
            <div class="content" *ngFor="let art of filteredArticles">
                <div class="name">
                    <p>{{art.name}}</p>
                </div>
                <div class="link">
                    <p>Ver en: &nbsp; <a [href]="art.link" target="_blank">{{ art.link | slice:0:40 }}{{ art.link.length > 40 ? '...' : '' }}</a></p>
                </div>
            </div>
            <div *ngIf="filteredArticles.length === 0" class="no-results">
                <h1>No se encontraron resultados</h1>
            </div>
        </div>

    </div>
</section>
<app-footer-clau></app-footer-clau>