.hero-card {
    background-color: #4f708d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -35px;
    padding: 0 2rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.no-results {
    text-align: center;
}
.no-results h1 {
    color: white;
    font-weight: 200;
    font-style: italic;
    font-size: 1.3rem;
}
.section-1 {
    width: 100%;
    margin-top: -270px;
    margin-left: 200px;
    z-index: 1;
    position: relative;
}

.buscador-title {
    width: 80%;
    transition: transform 0.25s ease;
}

.buscador-title h1 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
}

.buscador-title i {
    color: white;
    font-size: 3rem;
    margin-left: 20px;
}

.buscador {
    width: 70%;
    background-color: rgb(17, 32, 53);
    margin-top: 60px;
    margin-bottom: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 40px;
}

.search {
    display: flex;
    align-items: center;
    width: 60%;
    height: 20%;
    background-color: #f5f7fa;
    border-radius: 999px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    margin-left: 30px;
    margin-bottom: 30px;
}

.search-icon i {
    color: rgb(70, 69, 69);
    font-size: 2rem;
    padding: 10px;
}

.search-icon {
    font-size: 16px;
    margin-right: 10px;
    background-color: #c7c7c780;
    height: 100%;
    align-content: center;
    border-bottom-left-radius: 30px;
    padding-left: 13px;
    padding-right: 13px;
    border-top-left-radius: 30px;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;

  width: 100%;
  font-size: 15px;
  color: #333;
}

.search-input::placeholder {
  color: #9aa0a6;
}

.content {
    display: flex;
    width: 90%;
    margin-left: 30px;
}

.name {
    width: 50%;
    color: white;
    border: white solid 0.5px;
    border-left: none;
    border-top: none;
    background-color: rgb(19, 48, 88);
    padding-left: 20px;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

.link {
    width: 50%;
    padding-left: 20px;
    align-content: center;
    border: white solid 0.5px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgb(19, 48, 88);
}

.link a, .link p {
    color: white;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

.result .content:first-of-type .name {
    border-top-left-radius: 40px;
}
.result .content:first-of-type .link {
    border-top-right-radius: 40px;
}

.result .content:last-child .name {
    border-bottom-left-radius: 40px;
    border-bottom: none;
}

.result .content:last-child .link {
    border-bottom-right-radius: 40px;
    border-bottom: none;
}

.buscador-title:hover {
    transform: translateY(-4px) scale(1.05);
}

.section-1-mobile {
    display: none;
}

@media (max-width: 768px) {
    .section-1 {
        display: none;
    }

    .section-1-mobile {
        display: flex;
        flex-direction: column;
    }

    .buscador-title {
        width: 100%;
        transition: transform 0.25s ease;
        margin-top: -370px;
        padding-left: 20px;
        z-index: 1;
        position: relative;
    }

    .buscador-title h1 {
        color: rgb(255, 255, 255);
        font-size: 1.3rem;
        font-weight: 500;
        font-style: italic;
    }

    .buscador-title i {
        color: white;
        font-size: 1.5rem;
        margin-left: 20px;
    }

    .buscador {
        width: 90%;
        z-index: 1;
        align-self: center;
    }

    .search {
        width: 80%;
    }

    .content {
        width: 80%;
    }

    .name {
        padding-top: 10px;
        padding-right: 10px;
        font-size: 0.8rem;
    }

    .link p {
        font-size: 0.8rem;
    }

    .link a {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        font-size: 0.8rem;
        white-space: nowrap;
        text-overflow: ellipsis;

        word-break: break-all;
    }

 }