.hero-card {
    background-color: #4f708d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -35px;
    padding: 40px;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
  
.header-logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.logo-img {
    width: 160px;
    height: auto;
}

.header-title h1{
    color: white;
    font-size: 2.5rem;
    margin: 20px 0px 0px 0px;
}

.header-title p {
    font-size: 1.3rem;
    color: white;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 40px;
    margin-top: -150px; /* hace que se monten sobre el hero-card */
    position: relative;
    z-index: 2;
}

.left-column {
    flex: 1;
    min-width: 300px;
    margin-left: 50px;
}

.right-column {
    flex: 1;
    min-width: 300px;
}

.info-box {
    background-color: rgb(17, 32, 53);
    border-radius: 30px;
    padding: 30px;
    position: relative;
    z-index: 1;
    width: 350px;
}

.info-box h1 {
    color: white;
    font-size: 2.7rem;
    font-style: italic;
    font-weight: 200;
    width: 170px;
    margin-top: 0;
    margin-bottom: 0;
}

.decorative-lines {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    display: grid;
}
  
.line {
    height: 3px;
    background-color: #6c63ff; /* color morado o el que quieras */
    border-radius: 2px;
}
  
.short {
    width: 100px;
}
  
.medium {
    width: 150px;
}
  
.long {
    width: 200px;
}

.img-robotic-wrapper {
    position: absolute;
    margin: 20px 0;
    top: 50px;
    left: 250px;
}

.robot-img {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    margin-top: 20px;
}

.content-parraf {
    background-color: rgb(22, 55, 88);
    border-radius: 30px;
    padding: 20px;
    color: white;
    font-style: italic;
    font-weight: 400;
}

.content-clau {
    background-color: rgb(22, 55, 88);
    border-radius: 30px;
    padding: 30px;
    color: white;
    text-align: center;
}

.content-clau img {
    border-radius: 20px;
    max-width: 100%;
}

.cta-button {
    background-color: #335c94;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
/* Responsive Home */
@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        padding: 0;
    }
    
    .header-logo {
        justify-content: center;
        text-align: center;
    }
    
    .header-title h1 {
        font-size: 2rem;
    }
    
    .logo-img {
        width: 120px;
    }

    .img-robotic-wrapper {
        position: relative;
        margin: 20px 0;
    }
    
    .robot-img {
        height: auto;
    }

    .left-column {
        margin: 0;
    }

    .info-box {
        width: 768px;
    }
}
  