
@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}


.asociations-icons {
    background-color: rgb(80, 119, 150);
    width: 25%;
    padding: 50px 0px;
    margin-left: 100px;
    height: auto;
    display: grid;
    position: relative;
    top: -300px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.arrow-asc-icons {
    font-size: 80px;
    margin-left: 250px;
    position: relative;
    top: -260px;
    z-index: 2;
}

.hero-card {
    background-color: #4f708d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -35px;
    padding: 0 2rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}
  
.header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    margin-left: 2rem;
    margin-top: -6rem;
}

.logo-img {
    max-width: 45%;
    height: auto;
    cursor: pointer;
}

.header-title h1{
    color: white;
    font-size: 1.8rem;
    margin: 2rem 0 0 0;
    width: 250px;
}

.header-title p {
    font-size: 1rem;
    color: rgb(22, 56, 93);
    font-weight: 700;
    font-style: normal;
    margin: 0 0 1.8rem 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    padding: 0 2vw;
    max-width: 1400px;
    margin: 0 auto;
}

.left-column,
.right-column {
  flex: 1;
  display: grid;
  justify-content: center;   /* centra el contenido interno */
}

.left-column {
    position: relative;
    top: -100px;
}
.right-column {
    position: relative;
    top: -170px;
}

.info-box {
    background-color: rgb(17, 32, 53);
    border-radius: 30px;
    padding: 30px;
    position: relative;
    z-index: 1;
    width: 20rem;
    transition: transform 0.25s ease;
}

.clau-img-anim{
    transition: transform 0.25s ease;
}

.info-box:hover, .clau-img-anim:hover {
    transform: translateY(-4px) scale(1.1);
  }

.info-box h1 {
    color: white;
    font-size: 2.7rem;
    font-style: italic;
    font-weight: 200;
    width: 170px;
    margin-top: 0;
    margin-bottom: 0;
}

.decorative-lines {
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    display: grid;
}
  
.line {
    height: 3px;
    background-color: #6c63ff; /* color morado o el que quieras */
    border-radius: 2px;
}
  
.short {
    width: 100px;
}
  
.medium {
    width: 150px;
}
  
.long {
    width: 200px;
}

.img-robotic-wrapper {
    position: absolute;
    top: 50px;
    left: 300px;
    overflow: hidden;
    border-radius: 30px;
}

.robot-anim{
    animation: fadeInDown 0.9s ease-out forwards;
}

.robot-img {
    width: 20rem;
    height: auto;
}

.content-parraf {
    background-color: rgb(22, 55, 88);
    margin-left: 25px;
    width: 450px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    color: white;
    font-style: italic;
    font-weight: 400;
    position: relative;
    top: -30px;
}

.parraf-1 {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.parraf-2 {
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-clau {
    background-color: rgb(17, 32, 53);
    padding: 40px 20px 20px 20px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
    text-align: center;
    width: auto;
}

.content-clau img {
    max-width: 100%;
    height: auto;
    animation: fadeInDown 1.5s ease-out forwards;
}

.decorative-lines-clau {
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    display: grid;
    position: relative;
}

.lines-1  {
    top: -100px;
    left: -25px;
    transition: transform 0.25s ease;
}

.lines-2  {
    top: -200px;
    left: -10px;
    transition: transform 0.25s ease;
}

.line-clau {
    height: 3px;
    background-color: #6c63ff; /* color morado o el que quieras */
    border-radius: 2px;
    transform: rotate(25deg);
    transform-origin: left center;
    width: 300px;
}

.content-clau p {
    margin: 0;
    padding: 0 40px 0px 40px;
    position: relative;
    top: -60px;
    text-align: justify;
    font-weight: 200;
    font-style: italic;
}

.btn-robotic-info{
    margin-left: 40px;
}
.robotic-button {
    background-color: rgb(112, 129, 247);
    color: white;
    font-size: 1rem;
    border-color:  rgb(112, 129, 247);
    border-radius: 40px;
    padding: 8px 20px;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
    position: relative;
    width: 320px;
    z-index: 1;
    transition: transform 0.25s ease;
}

.robotic-button:hover, .cta-button:hover {
    transform: translateY(-4px) scale(1.05);
}

.cta-button {
    background-color: rgb(22, 55, 86);
    color: white;
    font-size: 1rem;
    border: solid white 1px;
    border-radius: 20px;
    padding: 8px 50px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    top: -220px;
    left: 170px;
    width: 265px;
    transition: transform 0.25s ease;
}

.second-main {
    background-image: url('/assets/imgs-carrousel/carrousel-3.png');
    background-size: cover;             /* Ajusta la imagen al contenedor */
    background-repeat: no-repeat;
    background-position: 50% 250%; /* Mueve el foco hacia abajo */
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 40px;
    margin-top: 0px; /* hace que se monten sobre el hero-card */
    position: relative;
    z-index: 2;
    left: 450px;
    top: -100px;
    aspect-ratio: 3/5;
    width: 70%;
    height: 1580px;
}

.second-left-clm-title {
    background-color: rgb(112, 129, 247);
    height: 150px;
    width: 450px;
    position: relative;
    left: -490px;
    top: 150px;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.carousel-container {
    background-color: rgb(112, 129, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    position: relative;
    left: -490px;
    top: -220px;
    height: 700px;
    padding: 30px 220px 50px 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

  .carousel-image {
    max-width: 70vw;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .nav-btn {
    background-color: rgba(255,255,255,0.8);
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .nav-btn:hover {
    background-color: rgba(255,255,255,1);
  }
  
.acc-img{
    margin-top: 4rem;
    justify-self: center;
    cursor: pointer;
    transition: transform 0.25s ease;
}
  
.trogss-img{
    justify-self: center;
    cursor: pointer;
    width: 80%;
    height: 80%;
    transition: transform 0.25s ease;
}

.camec-img{
    justify-self: center;
    cursor: pointer;
    width: 50%;
    height: 80%;
    transition: transform 0.25s ease;
}
  
.srs-img{
    width: 50%;
    height: 70%;
    cursor: pointer;
    justify-self: center;
    margin-top: 2rem;
    transition: transform 0.25s ease;
}

.cmc-img {
    width: 95%;
    height: 60%;
    margin: 2rem 0 0 0;
    cursor: pointer;
    justify-self: center;
    transition: transform 0.25s ease;
}
  
.spt-img {
    width: 70%;
    height: 60%;
    margin: 2rem 0 0 0;
    cursor: pointer;
    justify-self: center;
    transition: transform 0.25s ease;
}
  
.spt-img:hover, 
.cmc-img:hover,
.srs-img:hover,
.trogss-img:hover,
.camec-img:hover,
.acc-img:hover,
.arrow-asc-icons:hover {
    transform: translateY(-4px) scale(1.05);
}

.procedimiento-info{
    background-color: rgb(80, 119, 150);
    color: white;
    position: relative;
    top: -1200px;
    left: 700px;
    width: 50%;
    font-size: 1.5rem;
    border-radius: 20px;
    z-index: 1;
}
  
.procedimiento-info h1{
    text-align: end;
    margin-left: 150px;
    margin-right: 50px;
    font-weight: 700;
    font-style: italic;
}
  
.procedimiento-info p{
    text-align: justify;
    padding: 10px 30px;
    font-weight: 200;
    font-style: italic;
    font-size: large;
}
  
/* Responsive Home */
@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    
    .header-logo {
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    
    .header-title h1 {
        font-size: 2rem;
    }
    
    .logo-img {
        width: 120px;
    }

    .img-robotic-wrapper {
        position: relative;
        margin: 20px 0;
        top: 0;
        left: 0;
    }
    
    .robot-img {
        height: auto;
    }

    .left-column {
        margin: 0;
    }

    .right-column {
        top: 0;
    }

    .info-box {
        width: 768px;
        border-radius: 0;
    }
    .info-box h1 {
        width: 300px;
    }

    .content-parraf {
        margin: 0;
        border-radius: 0;
    }

    .parraf-1, .parraf-2 {
        width: 80%;
    }

    .content-clau {
        border-radius: 0;
        width: 60%;
        text-align: unset;
    }

    .content-clau img {
        width: 270px;
        height: 450px;
        margin-left: 70px;
    }
    .content-clau p {
        top: 0;
        margin-bottom: 20px;
    }
    .cta-button {
        top: 0;
        left: 0;
        margin-bottom: 40px;
        margin-left: 70px;
    }
}
  