.hero-card {
    background-color: #4f708d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -35px;
    padding: 40px;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
  
.header-logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 100px;
}

.logo-img {
    width: 160px;
    height: auto;
}

.header-title h1{
    color: white;
    font-size: 2.5rem;
    margin: 20px 0px 0px 0px;
    width: 350px;
}

.header-title p {
    font-size: 1.3rem;
    color: rgb(22, 56, 93);
    font-weight: 700;
    font-style: normal;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 180px;
    padding: 0 40px;
    margin-top: -150px; /* hace que se monten sobre el hero-card */
    position: relative;
    z-index: 2;
}

.left-column {
    flex: 1;
    min-width: 300px;
    margin-left: 50px;
}

.right-column {
    flex: 1;
    min-width: 300px;
    position: relative;
    top: -100px;
}

.info-box {
    background-color: rgb(17, 32, 53);
    border-radius: 30px;
    padding: 30px;
    position: relative;
    z-index: 1;
    width: 350px;
}

.info-box h1 {
    color: white;
    font-size: 2.7rem;
    font-style: italic;
    font-weight: 200;
    width: 170px;
    margin-top: 0;
    margin-bottom: 0;
}

.decorative-lines {
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    display: grid;
}
  
.line {
    height: 3px;
    background-color: #6c63ff; /* color morado o el que quieras */
    border-radius: 2px;
}
  
.short {
    width: 100px;
}
  
.medium {
    width: 150px;
}
  
.long {
    width: 200px;
}

.img-robotic-wrapper {
    position: absolute;
    margin: 20px 0;
    top: 50px;
    left: 250px;
}

.robot-img {
    width: 340px;
    height: 500px;
    border-radius: 30px;
    margin-top: 20px;
}

.content-parraf {
    background-color: rgb(22, 55, 88);
    margin-left: 25px;
    width: 450px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    color: white;
    font-style: italic;
    font-weight: 400;
}

.parraf-1 {
    width: 180px;
    text-align: justify;
    padding-bottom: 20px;
}

.parraf-2 {
    text-align: justify;
    padding-bottom: 20px;
}

.content-clau {
    background-color: rgb(17, 32, 53);
    padding-top: 50px;
    padding-bottom: 20px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
    text-align: center;
    width: 600px;
}

.content-clau img {
    max-width: 100%;
    height: 750px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.decorative-lines-clau {
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    display: grid;
    position: relative;
}

.lines-1  {
    top: -100px;
    left: -25px;
}

.lines-2  {
    top: -200px;
    left: -10px;
}

.line-clau {
    height: 3px;
    background-color: #6c63ff; /* color morado o el que quieras */
    border-radius: 2px;
    transform: rotate(25deg);
    transform-origin: left center;
    width: 300px;
}

.content-clau p {
    margin: 0;
    padding: 0 20px 0px 20px;
    position: relative;
    top: -60px;
}

.cta-button {
    background-color: rgb(22, 55, 86);
    color: white;
    font-size: 1rem;
    border: solid white 1px;
    border-radius: 20px;
    padding: 8px 50px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    top: -220px;
    left: 220px;
    width: 265px;
  }
  
/* Responsive Home */
@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    
    .header-logo {
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    
    .header-title h1 {
        font-size: 2rem;
    }
    
    .logo-img {
        width: 120px;
    }

    .img-robotic-wrapper {
        position: relative;
        margin: 20px 0;
        top: 0;
        left: 0;
    }
    
    .robot-img {
        height: auto;
    }

    .left-column {
        margin: 0;
    }

    .right-column {
        top: 0;
    }

    .info-box {
        width: 768px;
        border-radius: 0;
    }
    .info-box h1 {
        width: 300px;
    }

    .content-parraf {
        margin: 0;
        border-radius: 0;
    }

    .parraf-1, .parraf-2 {
        width: 80%;
    }

    .content-clau {
        border-radius: 0;
        width: 60%;
        text-align: unset;
    }

    .content-clau img {
        width: 270px;
        height: 450px;
        margin-left: 70px;
    }
    .content-clau p {
        top: 0;
        margin-bottom: 20px;
    }
    .cta-button {
        top: 0;
        left: 0;
        margin-bottom: 40px;
        margin-left: 70px;
    }
}
  